
*.pyc
*.toc
build/pasta/base_library.zip
build/pasta/pasta.exe.manifest
build/pasta/PKG-00.pkg
build/pasta/PYZ-00.pyz
build/pasta/warn-pasta.txt
build/pasta/xref-pasta.html
*.exe
test.py
pasta.spec
*.zip
build/mouse_jiggle/mouse_jiggle.exe.manifest
*.pkg
*.pyz
build/mouse_jiggle/warn-mouse_jiggle.txt
build/mouse_jiggle/xref-mouse_jiggle.html
*.spec
